
@font-face {
    font-family: oren;
    src: url(Orenburg.ttf);
}
@font-face {
    font-family: din;
    src: url(DIN.ttf);
}
@font-face {
    font-family: acquire;
    src: url(Aquire-BW0ox.otf);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body {
    font-family: din;
 background-color: white;
}


.logo {
   
    font-size: 30px;
    letter-spacing: 0.1em;
   font-weight: bold;
}


video {
    width: 100%;
    padding-top: 20px;
}

/* nav */
.navbar {
    background-color:rgba(255, 255, 255, 0.055);
    color: rgb(255, 255, 255);
    height: 70px;
    font-family: oren;
}
.navbar-2 {
    background-color: #040C26;
    color: rgb(255, 255, 255);
}


.navbar li {
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 500;
}
.navbar a:hover{
 border-bottom: 2px aqua solid;
 color: rgb(183, 247, 247) !important;

 transform: scaleX(1.2);
transition: ease-in-out 0.3s;
}
#bg-vid {
    position: relative;
    top: -110px;
    z-index: -1;
}
video {
    display: block;
    min-height: 100vh;
}
.bg {
    width: 100%;
    height: 100%;
   object-fit: contain; 
   display: grid;
   
   
   
}
.text-end p {
    font-family:acquire;
  font-weight: bold;
    font-size: 2.5em;
    
    color: #7683A9;
}

.btn-aqua {
background-color: rgb(70, 247, 247);
color: white;
}
.btn-aqua:hover {
background-color: aqua;
color: black;
transform: scaleX(1.2);
transition: ease-in-out 0.3s;
}

  

  
  .heading {
      font-family: oren;
      color: aqua;
  }

  .bg-dark-blue {
    background-color: #040C26;
  }
  .text-aqua {
color: aqua;
border-bottom-width: 1px  ;
border-color: rgba(0, 255, 255, 0.562);

  }
  /* about us */
  .about , .des {
    font-family: oren;
    font-weight: bold;

   
}
.travel {
  width: 100vw;
  height: 100vh;
}
.modal-backdrop {
  position:unset !important;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
  /* services */
.form-select {
  border-top-width: 0;
  border-right-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-radius: 0%;
 
}
.booking {
  min-height: 80vh;
  max-height: 100vh;
}
.card {
  border-width: 0 !important;
}
.p-25{
  padding: 2.3rem 0;
}
.p-26 {
  padding: 2.4rem 4rem;
}
.bg-white {
  opacity: 90%;
  backdrop-filter: blur(8px);
}
.oren {
  font-family: oren;
}
 option {
  font-family: din;
}
.overlay-text {
    padding: 0!important;
    background-color: #ffffff34;
    backdrop-filter: blur(5px);
height: 50%;
position: absolute;
    top: 50%;
}
.card img {
  position: relative;
}
.overlay-text p {
  font-size: 12px ;
}

.card-img-overlay {
   padding: 0 !important;
}
.overlay-text i {
  color: #ffbb00;
}
.center-text {
  color: aqua;
  font-family: acquire;
  font-size: 40px;
  font-weight: bold;
}
.bg-aqua {
  background-color: aqua;
color: white;
  font-weight: bold;
}
/* asnimation  */
.glow {
 
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px aqua, 0 0 20px aqua, 0 0 30px aqua, 0 0 40px aqua, 0 0 50px aqua, 0 0 60px aqua, 0 0 70px aqua;
  }
  to {
    text-shadow: 0 0 20px rgba(0, 255, 255, 0.562), 0 0 30px rgba(0, 255, 255, 0.562), 0 0 40px rgba(0, 255, 255, 0.562), 0 0 50px rgba(0, 255, 255, 0.562), 0 0 60px rgba(0, 255, 255, 0.562), 0 0 70px rgba(0, 255, 255, 0.562), 0 0 80px rgba(0, 255, 255, 0.562);
  }
}
.typing-ani {
  width: 30vw;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  
 font-family: oren;

   
}
@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
 select:focus {
  outline: none !important;
  box-shadow: none !important;
}
.btn-outline-aqua {
  border-color: aqua;

}
.btn-outline-aqua:hover {
  border-color: aqua;
transform: scaleX(1.2);
transition: ease-in-out 0.3s;
color: rgb(183, 247, 247) !important
}
.modal {
  font-family: din;
}
/* contact-us */
  
.image {
  background-image: url(aircraft-78060.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
} 
.image h1 {
  font-weight: 900 !important;
 font-family: 'Times New Roman', Times, serif;
}

/* contact us */

.contact-form{
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
 
  padding: 10px;
  box-shadow: 5px 10px 20px #CA315C inset;
}
.contact-form .form-control{
  border-radius:1rem;
}

.contact-image img{
  border-radius: 6rem;
  width: 11%;
margin-top: 5%;
  transform: rotate(29deg);
}
.contact-form form{
  padding: 14%;
}
.contact-form form .row{
  margin-bottom: -7%;
}
.contact-form h3{
  margin-bottom: 8%;
  margin-top: -15%;
  text-align: center;
  color: #EF775F;
}


.rounded-pill {
  border-radius: 35px;
}
